<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Configuration OSC</title>
</head>
<body>
    <h1>Back to Zenne</h1>

    <!-- Boutons de contrôle -->
    <form action="{{ url_for('start_osc') }}" method="post">
        <button id="startbutton" type="submit" style="background-color: green; color: white;">▶️ Démarrer</button>
    </form>

    <hr>

    <h2>Paramètres OSC</h2>
    <form method="post">
        <label>IP :</label>
        <input type="text" name="ip_address" value="{{ config.ip_address }}"><br><br>

        <label>Port MadMapper :</label>
        <input type="number" name="td_port" value="{{ config.madmapper_port }}"><br><br>

        <label>Port Ableton :</label>
        <input type="number" name="ableton_port" value="{{ config.ableton_port }}"><br><br>

        <h2>Filtrage des données</h2>
        <input type="hidden" name="count" value="{{ config.addresses|length }}">
        {% for addr in config.addresses %}
            {% set i = loop.index0 %}
            <div class="addr-box">
                <h3>Adresse {{ i+1 }} — {{ addr.name }}</h3>
                <label>OSC address:</label>
                <input type="text" name="name_{{ i }}" value="{{ addr.name }}">
                <label>Min :</label>
                <input type="number" step="any" name="min_value_{{ i }}" value="{{ addr.min_value }}">
                <label>Max :</label>
                <input type="number" step="any" name="max_value_{{ i }}" value="{{ addr.max_value }}">
                <button type="button" class="testBtn" onclick="testOSC({{ i }})">💡 Tester cette adresse</button><br><br>
            </div>
        {% endfor %}
        <input type="submit" value="Sauvegarder">
    </form>

    <script>

        async function testOSC(index) {
            const res = await fetch(`/test_osc/${index}`, { method: "POST" });
            const data = await res.json();
            if (data.sent) {
                document.getElementById("testResult").innerText = `✅ ${data.address} → ${data.value}`;
            } else {
                document.getElementById("testResult").innerText = `❌ Erreur : ${data.error}`;
            }
            setTimeout(() => document.getElementById("testResult").innerText = "", 3000);
        }
    </script>

</body>
</html>
