<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Programm configuration</title>
</head>
<body>
    <h1>Back to Zenne</h1>

    <!-- Control buttons -->
    <form action="{{ url_for('start_osc') }}" method="post">
        <button id="startbutton" type="submit" style="background-color: green; color: white;">▶️ Start</button>
    </form>
    <form action="{{ url_for('stop_osc') }}" method="post">
        <button id="stopbutton" type="submit" style="background-color: red; color: white;">🛑 Stop</button>
    </form>
    <hr>

    <h2>Global Parameters</h2>
    <form method="post">
        <label>Loop duration (in seconds): </label>
        <input type="number" step="1" min="60" name="install_duration" value="{{ config.install_duration }}"><br><br>
        <label>MadMapper OSC port: </label>
        <input type="number" name="madmapper_port" value="{{ config.madmapper_port }}"><br><br>
        <label>Ableton OSC port: </label>
        <input type="number" name="ableton_port" value="{{ config.ableton_port }}"><br><br>
        <label>Smooth on data: </label>
        <input type="number" min="1" max="20" name="smooth" value="{{ config.smooth }}"><br><br>

        <h2>Data processing</h2>
        <!-- Data parameters (for each data = OSC, min, max, duration for API call) -->
        <input type="hidden" name="count" value="{{ config.addresses|length }}">
        {% for addr in config.addresses %}
            {% set i = loop.index0 %}
            <div class="addr-box">
                <h3>Address {{ i+1 }} — {{ addr.name }}</h3>
                <label>Name: </label>
                <input type="text" name="name_{{ i }}" value="{{ addr.name }}">
                <label>OSC address: </label>
                <input type="text" name="osc_address_{{ i }}" value="{{ addr.osc_address }}">
                {% if addr.from != "none" and addr.from != "realtime" %}
                <label>From (in days): </label>
                <input type="number" step="1" min="2" max="100" name="from_{{ i }}" value="{{ addr.from }}">
                {% elif addr.from == "realtime" %}
                <label>realtime data</label>
                <input type="number" name="from_{{ i }}" value="-1" style="display:none;">
                {% else %}
                <label>"from" value linked to above</label>
                <input type="number" name="from_{{ i }}" value="-2" style="display:none;">
                {% endif %}
                <br>
                <br>
                <label>send to Ableton :</label>
                <input type="checkbox" name="to_ableton_{{ i }}" value="1" {% if addr.to_ableton %}checked{% endif %}>
                <label>Min: </label>
                <input type="number" step="any" min="0.0" name="min_ableton_{{ i }}" value="{{ addr.min_ableton }}">
                <label>Max: </label>
                <input type="number" step="any" min="0.1" name="max_ableton_{{ i }}" value="{{ addr.max_ableton }}">
                <br>
                <label>send to Madmapper :</label>
                <input type="checkbox" name="to_mad_{{ i }}" value="1" {% if addr.to_mad %}checked{% endif %}>
                <label>Min: </label>
                <input type="number" step="any" min="0.0" name="min_mad_{{ i }}" value="{{ addr.min_mad }}">
                <label>Max: </label>
                <input type="number" step="any" min="0.1" name="max_mad_{{ i }}" value="{{ addr.max_mad }}">
                <br>
                <button type="button" class="testBtn" onclick="testOSC({{ i }})">💡 OSC test</button><br><br>

            </div>
        {% endfor %}
        <input type="submit" value="Save">
        <button type="button" onclick="resetConfig()">Reset</button>
    </form>

    <script>
        async function testOSC(index) {
            const res = await fetch(`/test_osc/${index}`, { method: "POST" });
            const data = await res.json();
            if (data.sent) {
                document.getElementById("testResult").innerText = `✅ ${data.address} → ${data.value}`;
            } else {
                document.getElementById("testResult").innerText = `❌ Error : ${data.error}`;
            }
            setTimeout(() => document.getElementById("testResult").innerText = "", 3000);
        }

        async function resetConfig() {
            if (confirm("⚠️ Voulez-vous vraiment réinitialiser la configuration ?")) {
                const res = await fetch("/reset_config", { method: "POST" });
                if (res.ok) {
                    alert("✅ Configuration réinitialisée !");
                    location.reload();
                } else {
                    alert("❌ Erreur lors du reset");
                }
            }
        }
    </script>

</body>
</html>
